@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#E7F6F2];
  }
  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply text-dark_1;
    @apply dark:text-light_2;
    @apply uppercase;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
    @apply text-dark_1;
    @apply dark:text-light_2;
    @apply uppercase;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
    @apply text-dark_1;
    @apply dark:text-light_2;
    @apply uppercase;
  }
  h4 {
    @apply text-dark_1;
    @apply dark:text-light_2;
  }
  p,
  li {
    @apply text-dark_2;
    @apply dark:text-light_1;
    @apply font-normal;
  }
  li {
    @apply ml-10;
    @apply list-disc;
  }
  a {
    @apply text-blue-500;
    @apply hover:underline;
  }
  img {
    @apply rounded-md;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#f5deb3e6];
  }
  ::-webkit-scrollbar {
    @apply w-[.25rem];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#f2b400];
  }
  button {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply rounded-md;
    @apply outline-none;
    @apply text-dark_1;
  }
  input {
    @apply text-dark_1;
    @apply outline-none;
    @apply bg-transparent;
    @apply p-[.5rem];
    @apply rounded-md;
  }
  textarea {
    @apply text-dark_1;
    @apply outline-none;
    @apply bg-transparent;
    @apply p-[.5rem];
    @apply rounded-md;
    @apply min-h-[100px];
    @apply max-h-[250px];
  }
  .profile_menu {
    @apply relative;
  }
  .profile_menu::before {
    @apply content-[''];
    @apply absolute;
    @apply block;
    @apply w-[100%];
    @apply h-[4px];
    @apply bottom-[-.7rem];
    @apply left-0;
    @apply bg-[#f2b400];
    @apply scale-x-0;
    @apply transition-transform;
    @apply duration-[.15s];
    @apply ease-in;
  }
  .profile_menu:hover::before {
    @apply scale-x-100;
  }
  .ql-snow {
    @apply rounded-tl-md;
    @apply rounded-tr-md;
    @apply rounded-bl-none;
    @apply rounded-br-none;
    @apply mt-[.5rem];
  }
}

img {
  backface-visibility: hidden;
  transform: translateZ(0);
}

.ql-toolbar.ql-snow {
  width: 100%;
  background-color: #f2b400;
}

.ql-toolbar.ql-snow .ql-formats span:focus {
  color: #2c3333;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-radius: 0rem 0rem 0.32rem 0.32rem;
}
